## Linear Regression Model

### housing price predictions - California - Scikit

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('C:\\Users\\rhasan\\Downloads\\cahousing.csv', low_memory=False)

In [3]:
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [4]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
import numpy as np

In [8]:
#replacing total bedroom missing data with mean value
avg_1 = housing['total_bedrooms'].astype('float').mean(axis=0)
housing['total_bedrooms'].replace(np.nan,avg_1,inplace=True)

In [9]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20640 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [10]:
housing['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

    ## converting categorial variables into numeric by getting dummy variabales

In [11]:
housing = pd.get_dummies(housing, columns=['ocean_proximity'])

In [12]:
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity_<1H OCEAN',
       'ocean_proximity_INLAND', 'ocean_proximity_ISLAND',
       'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [13]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0

In [14]:
housing.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
longitude,20640.0,-119.569704,2.003532,-124.3500,-121.8000,-118.4900,-118.01000,-114.3100
latitude,20640.0,35.631861,2.135952,32.5400,33.9300,34.2600,37.71000,41.9500
housing_median_age,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
total_rooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
total_bedrooms,20640.0,537.870553,419.266592,1.0000,297.0000,438.0000,643.25000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
median_income,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
median_house_value,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000
ocean_proximity_<1H OCEAN,20640.0,0.442636,0.496710,0.0000,0.0000,0.0000,1.00000,1.0000
ocean_proximity_INLAND,20640.0,0.317393,0.465473,0.0000,0.0000,0.0000,1.00000,1.0000
ocean_proximity_ISLAND,20640.0,0.000242,0.015563,0.0000,0.0000,0.0000,0.00000,1.0000
ocean_proximity_NEAR BAY,20640.0,0.110950,0.314077,0.0000,0.0000,0.0000,0.00000,1.0000
ocean_proximity_NEAR OCEAN,20640.0,0.128779,0.334963,0.0000,0.0000,0.0000,0.00000,1.0000

In [15]:
housing.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069260,0.099773,0.055310,-0.015176,-0.045967,0.321121,-0.055575,0.009446,-0.474489,0.045509
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066658,-0.108785,-0.071035,-0.079809,-0.144160,-0.446969,0.351166,-0.016572,0.358771,-0.160818
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.318998,-0.296244,-0.302916,-0.119034,0.105623,0.045300,-0.236645,0.017020,0.255172,0.021622
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.927253,0.857126,0.918484,0.198050,0.134153,-0.003031,0.025624,-0.007572,-0.023022,-0.009175
total_bedrooms,0.069260,-0.066658,-0.318998,0.927253,1.000000,0.873910,0.974725,-0.007682,0.049454,0.018220,-0.006433,-0.004361,-0.019785,0.000676
population,0.099773,-0.108785,-0.296244,0.857126,0.873910,1.000000,0.907222,0.004834,-0.024650,0.074613,-0.020732,-0.010412,-0.060880,-0.024264
households,0.055310,-0.071035,-0.302916,0.918484,0.974725,0.907222,1.000000,0.013033,0.065843,0.042435,-0.039402,-0.009077,-0.010093,0.001714
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007682,0.004834,0.013033,1.000000,0.688075,0.168876,-0.237496,-0.009228,0.056197,0.027344
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049454,-0.024650,0.065843,0.688075,1.000000,0.256617,-0.484859,0.023416,0.160284,0.141862
ocean_proximity_<1H OCEAN,0.321121,-0.446969,0.045300,-0.003031,0.018220,0.074613,0.042435,0.168876,0.256617,1.000000,-0.607669,-0.013872,-0.314813,-0.342620
ocean_proximity_INLAND,-0.055575,0.351166,-0.236645,0.025624,-0.006433,-0.020732,-0.039402,-0.237496,-0.484859,-0.607669,1.000000,-0.010614,-0.240887,-0.262163
ocean_proximity_ISLAND,0.009446,-0.016572,0.017020,-0.007572,-0.004361,-0.010412,-0.009077,-0.009228,0.023416,-0.013872,-0.010614,1.000000,-0.005499,-0.005985
ocean_proximity_NEAR BAY,-0.474489,0.358771,0.255172,-0.023022,-0.019785,-0.060880,-0.010093,0.056197,0.160284,-0.314813,-0.240887,-0.005499,1.000000,-0.135818
ocean_proximity_NEAR OCEAN,0.045509,-0.160818,0.021622,-0.009175,0.000676,-0.024264,0.001714,0.027344,0.141862,-0.342620,-0.262163,-0.005985,-0.135818,1.000000

    ### Create Feature and Labels

In [17]:
feature = housing[['housing_median_age', 'total_rooms','total_bedrooms','households', 'median_income','ocean_proximity_<1H OCEAN',
                   'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN' ]]

In [18]:
label = housing['median_house_value']

    ## Spliting dataset into train and test

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(feature, label, test_size=0.3, random_state=101)

In [21]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(14448, 9)
(6192, 9)
(14448,)
(6192,)

    ## Feature Scaling

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler = MinMaxScaler()

In [24]:
X_train = scaler.fit_transform(X_train)

In [25]:
X_test = scaler.transform(X_test)

In [26]:
X_train

array([[0.35294118, 0.06968818, 0.11716325, ..., 0.        , 0.        ,
        0.        ],
       [0.60784314, 0.01124167, 0.01567349, ..., 0.        , 0.        ,
        0.        ],
       [0.66666667, 0.02523017, 0.03134699, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.09803922, 0.08962816, 0.08659218, ..., 0.        , 0.        ,
        0.        ],
       [0.68627451, 0.02110992, 0.03258845, ..., 0.        , 0.        ,
        0.        ],
       [0.43137255, 0.08538074, 0.11235258, ..., 0.        , 0.        ,
        0.        ]])

In [28]:
X_test

array([[0.68627451, 0.0462638 , 0.04515829, ..., 0.        , 0.        ,
        1.        ],
       [0.70588235, 0.02741747, 0.02079454, ..., 0.        , 0.        ,
        1.        ],
       [0.90196078, 0.03232616, 0.04081316, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.1372549 , 0.02617122, 0.03103662, ..., 0.        , 0.        ,
        0.        ],
       [0.76470588, 0.01144514, 0.01675978, ..., 0.        , 0.        ,
        0.        ],
       [0.58823529, 0.14708276, 0.21384233, ..., 0.        , 1.        ,
        0.        ]])

    ## Linear Regression Model

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
regr = LinearRegression()

In [31]:
regr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

    ## Making Predictions

In [33]:
y_hat = regr.predict(X_test)

    ## Evaluating Model

In [34]:
from sklearn.metrics import r2_score

In [35]:
print("Mean absolute error: %.2f" % np.mean(np.absolute(y_hat - y_test)))
print("Residual sum of squares (MSE): %.2f", np.mean((y_hat - y_test) ** 2))
print("R2-score: %.2f" % r2_score(y_hat, y_test))

Mean absolute error: 53055.23
Residual sum of squares (MSE): %.2f 5437629370.527227
R2-score: 0.36