## Predicting Loan Risk - German Credit Data 
### Logistic Regression - Scikit 


    ### Data Source: Kaggle, UCI

In [1]:
import pandas as pd

In [2]:
credit = pd.read_csv('C:\\Users\\rhasan\\Downloads\\creditdata.csv')

In [3]:
credit.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [4]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
Unnamed: 0          1000 non-null int64
Age                 1000 non-null int64
Sex                 1000 non-null object
Job                 1000 non-null int64
Housing             1000 non-null object
Saving accounts     817 non-null object
Checking account    606 non-null object
Credit amount       1000 non-null int64
Duration            1000 non-null int64
Purpose             1000 non-null object
Risk                1000 non-null object
dtypes: int64(5), object(6)
memory usage: 86.0+ KB

In [5]:
credit.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [6]:
credit['Checking account'].value_counts()

little      274
moderate    269
rich         63
Name: Checking account, dtype: int64

In [7]:
credit['Saving accounts'].value_counts()

little        603
moderate      103
quite rich     63
rich           48
Name: Saving accounts, dtype: int64

In [8]:
credit['Sex'].value_counts()

male      690
female    310
Name: Sex, dtype: int64

In [9]:
def label_fix1(label):
    if label=='male':
        return 0
    else:
        return 1

In [10]:
credit['Sex'] = credit['Sex'].apply(label_fix1)

In [11]:
credit['Sex'].value_counts()

0    690
1    310
Name: Sex, dtype: int64

In [12]:
def label_fix2(label):
    if label=='little':
        return 0
    if label=='moderate':
        return 1
    if label=='quite rich':
        return 2
    if label=='rich':
        return 3

In [13]:
credit['Saving accounts'] = credit['Saving accounts'].apply(label_fix2)

In [14]:
credit['Saving accounts'].value_counts()

0.0    603
1.0    103
2.0     63
3.0     48
Name: Saving accounts, dtype: int64

In [15]:
credit['Checking account'].value_counts()

little      274
moderate    269
rich         63
Name: Checking account, dtype: int64

In [16]:
credit['Checking account'] = credit['Checking account'].apply(label_fix2)

In [17]:
credit['Checking account'].value_counts()

0.0    274
1.0    269
3.0     63
Name: Checking account, dtype: int64

In [21]:
credit['Housing'].value_counts()

own     713
rent    179
free    108
Name: Housing, dtype: int64

In [22]:
def label_fix3(label):
    if label=='own':
        return 0
    if label=='rent':
        return 1
    if label=='free':
        return 2

In [23]:
credit['Housing'] = credit['Housing'].apply(label_fix3)

In [24]:
credit['Housing'].value_counts()

0    713
1    179
2    108
Name: Housing, dtype: int64

In [25]:
credit['Purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64

In [26]:
def label_fix4(label):
    if label=='car':
        return 0
    if label=='radio/TV':
        return 1
    if label=='furniture/equipment':
        return 2
    if label=='business':
        return 3
    if label=='education':
        return 4
    if label=='repairs':
        return 5
    if label=='vacation/others':
        return 6
    if label=='domestic appliances':
        return 7

In [27]:
credit['Purpose'] = credit['Purpose'].apply(label_fix4)

In [28]:
credit['Purpose'].value_counts()

0    337
1    280
2    181
3     97
4     59
5     22
7     12
6     12
Name: Purpose, dtype: int64

In [29]:
credit.head(10)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,0,2,0,NaN,0.0,1169,6,1,good
1,1,22,1,2,0,0.0,1.0,5951,48,1,bad
2,2,49,0,1,0,0.0,NaN,2096,12,4,good
3,3,45,0,2,2,0.0,0.0,7882,42,2,good
4,4,53,0,2,2,0.0,0.0,4870,24,0,bad
5,5,35,0,1,2,NaN,NaN,9055,36,4,good
6,6,53,0,2,0,2.0,NaN,2835,24,2,good
7,7,35,0,3,1,0.0,1.0,6948,36,0,good
8,8,61,0,1,0,3.0,NaN,3059,12,1,good
9,9,28,0,3,0,0.0,1.0,5234,30,0,bad

In [30]:
credit = credit.drop('Unnamed: 0', axis=1)

In [32]:
credit['Risk'].value_counts()

good    700
bad     300
Name: Risk, dtype: int64

In [33]:
def label_fix5(label):
    if label=='good':
        return 0
    else:
        return 1

In [34]:
credit['Risk'] = credit['Risk'].apply(label_fix5)

In [35]:
credit['Risk'].value_counts()

0    700
1    300
Name: Risk, dtype: int64

In [36]:
credit.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,1000.0,35.546000,11.375469,19.0,27.0,33.0,42.00,75.0
Sex,1000.0,0.310000,0.462725,0.0,0.0,0.0,1.00,1.0
Job,1000.0,1.904000,0.653614,0.0,2.0,2.0,2.00,3.0
Housing,1000.0,0.395000,0.674856,0.0,0.0,0.0,1.00,2.0
Saving accounts,817.0,0.456548,0.869350,0.0,0.0,0.0,1.00,3.0
Checking account,606.0,0.755776,0.899821,0.0,0.0,1.0,1.00,3.0
Credit amount,1000.0,3271.258000,2822.736876,250.0,1365.5,2319.5,3972.25,18424.0
Duration,1000.0,20.903000,12.058814,4.0,12.0,18.0,24.00,72.0
Purpose,1000.0,1.435000,1.527779,0.0,0.0,1.0,2.00,7.0
Risk,1000.0,0.300000,0.458487,0.0,0.0,0.0,1.00,1.0

In [37]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
Age                 1000 non-null int64
Sex                 1000 non-null int64
Job                 1000 non-null int64
Housing             1000 non-null int64
Saving accounts     817 non-null float64
Checking account    606 non-null float64
Credit amount       1000 non-null int64
Duration            1000 non-null int64
Purpose             1000 non-null int64
Risk                1000 non-null int64
dtypes: float64(2), int64(8)
memory usage: 78.2 KB

    ## converted all the categorical values into numeric values - could have used pd.get_dummy

In [38]:
import numpy as np

In [39]:
#dealing with missing values
missing_data = credit.isnull()
missing_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [40]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Age
False    1000
Name: Age, dtype: int64

Sex
False    1000
Name: Sex, dtype: int64

Job
False    1000
Name: Job, dtype: int64

Housing
False    1000
Name: Housing, dtype: int64

Saving accounts
False    817
True     183
Name: Saving accounts, dtype: int64

Checking account
False    606
True     394
Name: Checking account, dtype: int64

Credit amount
False    1000
Name: Credit amount, dtype: int64

Duration
False    1000
Name: Duration, dtype: int64

Purpose
False    1000
Name: Purpose, dtype: int64

Risk
False    1000
Name: Risk, dtype: int64

In [41]:
#replacing missing values with mean
mean1 = credit['Saving accounts'].astype(float).mean(axis=0)
credit['Saving accounts'].replace(np.nan,mean1,inplace=True)

In [42]:
#replacing missing values with mean
mean2 = credit['Checking account'].astype(float).mean(axis=0)
credit['Checking account'].replace(np.nan,mean2,inplace=True)

In [43]:
missing_data = credit.isnull()
missing_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [44]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Age
False    1000
Name: Age, dtype: int64

Sex
False    1000
Name: Sex, dtype: int64

Job
False    1000
Name: Job, dtype: int64

Housing
False    1000
Name: Housing, dtype: int64

Saving accounts
False    1000
Name: Saving accounts, dtype: int64

Checking account
False    1000
Name: Checking account, dtype: int64

Credit amount
False    1000
Name: Credit amount, dtype: int64

Duration
False    1000
Name: Duration, dtype: int64

Purpose
False    1000
Name: Purpose, dtype: int64

Risk
False    1000
Name: Risk, dtype: int64

    ## No more missing values

In [45]:
credit.columns

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [53]:
feature = np.asanyarray(credit[['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit amount', 'Duration', 'Purpose']])

In [54]:
label = np.asanyarray(credit['Risk'])

### Spliting data set into train and test

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(feature, label, test_size=0.33, random_state=101)

In [62]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(670, 9)
(330, 9)
(670,)
(330,)

## Feature scaling

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
scaler = MinMaxScaler()

In [65]:
X_train = scaler.fit_transform(X_train)

In [66]:
X_test = scaler.transform(X_test)

    ## Logistic Regression

In [67]:
from sklearn.linear_model import LogisticRegression

In [68]:
LR = LogisticRegression()

In [69]:
LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [70]:
yhat = LR.predict(X_test)

In [78]:
yhat.shape

(330,)

In [80]:
yhat

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [71]:
yhat_prob = LR.predict_proba(X_test)

In [79]:
yhat_prob

array([[0.6078313 , 0.3921687 ],
       [0.75638906, 0.24361094],
       [0.8695414 , 0.1304586 ],
       [0.67012871, 0.32987129],
       [0.58663853, 0.41336147],
       [0.7474619 , 0.2525381 ],
       [0.81886891, 0.18113109],
       [0.80537335, 0.19462665],
       [0.54556637, 0.45443363],
       [0.77492725, 0.22507275],
       [0.74028238, 0.25971762],
       [0.78937689, 0.21062311],
       [0.77395042, 0.22604958],
       [0.4911103 , 0.5088897 ],
       [0.72820756, 0.27179244],
       [0.58184922, 0.41815078],
       [0.64176844, 0.35823156],
       [0.88662953, 0.11337047],
       [0.81295392, 0.18704608],
       [0.71485981, 0.28514019],
       [0.47636645, 0.52363355],
       [0.71773267, 0.28226733],
       [0.76488091, 0.23511909],
       [0.88721217, 0.11278783],
       [0.54473294, 0.45526706],
       [0.55340548, 0.44659452],
       [0.38281987, 0.61718013],
       [0.85388801, 0.14611199],
       [0.82085876, 0.17914124],
       [0.77411326, 0.22588674],
       [0.40104679, 0.59895321],
       [0.87325168, 0.12674832],
       [0.7589777 , 0.2410223 ],
       [0.8305566 , 0.1694434 ],
       [0.33621008, 0.66378992],
       [0.58991582, 0.41008418],
       [0.6641654 , 0.3358346 ],
       [0.80300452, 0.19699548],
       [0.70461784, 0.29538216],
       [0.71677669, 0.28322331],
       [0.82762369, 0.17237631],
       [0.7011947 , 0.2988053 ],
       [0.50103743, 0.49896257],
       [0.59875077, 0.40124923],
       [0.62100208, 0.37899792],
       [0.84216621, 0.15783379],
       [0.78507784, 0.21492216],
       [0.77585355, 0.22414645],
       [0.70688394, 0.29311606],
       [0.72395822, 0.27604178],
       [0.70112147, 0.29887853],
       [0.75945325, 0.24054675],
       [0.47174638, 0.52825362],
       [0.61066099, 0.38933901],
       [0.62849892, 0.37150108],
       [0.81125574, 0.18874426],
       [0.90276594, 0.09723406],
       [0.68399045, 0.31600955],
       [0.79312724, 0.20687276],
       [0.61155784, 0.38844216],
       [0.6337736 , 0.3662264 ],
       [0.59900111, 0.40099889],
       [0.72318664, 0.27681336],
       [0.69411505, 0.30588495],
       [0.88305347, 0.11694653],
       [0.72207799, 0.27792201],
       [0.82925765, 0.17074235],
       [0.75951529, 0.24048471],
       [0.7721244 , 0.2278756 ],
       [0.86644669, 0.13355331],
       [0.54670693, 0.45329307],
       [0.76613512, 0.23386488],
       [0.57597494, 0.42402506],
       [0.86845189, 0.13154811],
       [0.81425012, 0.18574988],
       [0.76555211, 0.23444789],
       [0.39225518, 0.60774482],
       [0.79733273, 0.20266727],
       [0.85688365, 0.14311635],
       [0.74929758, 0.25070242],
       [0.67911578, 0.32088422],
       [0.49979218, 0.50020782],
       [0.44452095, 0.55547905],
       [0.68597459, 0.31402541],
       [0.62462818, 0.37537182],
       [0.73553308, 0.26446692],
       [0.83881982, 0.16118018],
       [0.54075677, 0.45924323],
       [0.77428627, 0.22571373],
       [0.80505227, 0.19494773],
       [0.85064676, 0.14935324],
       [0.54653105, 0.45346895],
       [0.76241897, 0.23758103],
       [0.78544235, 0.21455765],
       [0.72348458, 0.27651542],
       [0.81649723, 0.18350277],
       [0.53087691, 0.46912309],
       [0.85200774, 0.14799226],
       [0.85247245, 0.14752755],
       [0.79132403, 0.20867597],
       [0.63349684, 0.36650316],
       [0.60503019, 0.39496981],
       [0.83954121, 0.16045879],
       [0.79105679, 0.20894321],
       [0.6803739 , 0.3196261 ],
       [0.8624632 , 0.1375368 ],
       [0.52583403, 0.47416597],
       [0.46233387, 0.53766613],
       [0.84395899, 0.15604101],
       [0.70638489, 0.29361511],
       [0.68503408, 0.31496592],
       [0.87713029, 0.12286971],
       [0.8108647 , 0.1891353 ],
       [0.64285561, 0.35714439],
       [0.93643183, 0.06356817],
       [0.48684187, 0.51315813],
       [0.84971402, 0.15028598],
       [0.80442054, 0.19557946],
       [0.75239699, 0.24760301],
       [0.80476082, 0.19523918],
       [0.77167275, 0.22832725],
       [0.69313732, 0.30686268],
       [0.7412005 , 0.2587995 ],
       [0.52306685, 0.47693315],
       [0.69769044, 0.30230956],
       [0.65207985, 0.34792015],
       [0.49259721, 0.50740279],
       [0.76646059, 0.23353941],
       [0.66897193, 0.33102807],
       [0.80263782, 0.19736218],
       [0.78700407, 0.21299593],
       [0.67307094, 0.32692906],
       [0.83784174, 0.16215826],
       [0.73176585, 0.26823415],
       [0.86103512, 0.13896488],
       [0.70805639, 0.29194361],
       [0.89626203, 0.10373797],
       [0.80613706, 0.19386294],
       [0.62605842, 0.37394158],
       [0.51180823, 0.48819177],
       [0.65870155, 0.34129845],
       [0.62162432, 0.37837568],
       [0.56997814, 0.43002186],
       [0.41577514, 0.58422486],
       [0.70705161, 0.29294839],
       [0.62502647, 0.37497353],
       [0.78149096, 0.21850904],
       [0.59430146, 0.40569854],
       [0.85102714, 0.14897286],
       [0.50200154, 0.49799846],
       [0.68993889, 0.31006111],
       [0.55721008, 0.44278992],
       [0.4473023 , 0.5526977 ],
       [0.83127116, 0.16872884],
       [0.56588425, 0.43411575],
       [0.82781199, 0.17218801],
       [0.76744816, 0.23255184],
       [0.71169413, 0.28830587],
       [0.56619216, 0.43380784],
       [0.81047032, 0.18952968],
       [0.75009342, 0.24990658],
       [0.88368392, 0.11631608],
       [0.70927189, 0.29072811],
       [0.64708281, 0.35291719],
       [0.74661027, 0.25338973],
       [0.69216631, 0.30783369],
       [0.42786527, 0.57213473],
       [0.90423602, 0.09576398],
       [0.66904717, 0.33095283],
       [0.65003777, 0.34996223],
       [0.40633328, 0.59366672],
       [0.82130087, 0.17869913],
       [0.7248083 , 0.2751917 ],
       [0.79398224, 0.20601776],
       [0.68822771, 0.31177229],
       [0.93516232, 0.06483768],
       [0.68079953, 0.31920047],
       [0.909023  , 0.090977  ],
       [0.86964836, 0.13035164],
       [0.63250163, 0.36749837],
       [0.52003099, 0.47996901],
       [0.84705048, 0.15294952],
       [0.71042561, 0.28957439],
       [0.71767856, 0.28232144],
       [0.86821957, 0.13178043],
       [0.71818838, 0.28181162],
       [0.79395551, 0.20604449],
       [0.90541645, 0.09458355],
       [0.49486334, 0.50513666],
       [0.60938184, 0.39061816],
       [0.79180084, 0.20819916],
       [0.72048709, 0.27951291],
       [0.66455246, 0.33544754],
       [0.50077508, 0.49922492],
       [0.7784568 , 0.2215432 ],
       [0.51669014, 0.48330986],
       [0.92538801, 0.07461199],
       [0.79016913, 0.20983087],
       [0.82535323, 0.17464677],
       [0.84330153, 0.15669847],
       [0.79022608, 0.20977392],
       [0.71484267, 0.28515733],
       [0.72494591, 0.27505409],
       [0.69978549, 0.30021451],
       [0.63114947, 0.36885053],
       [0.61537019, 0.38462981],
       [0.7353209 , 0.2646791 ],
       [0.79031424, 0.20968576],
       [0.53071172, 0.46928828],
       [0.8399905 , 0.1600095 ],
       [0.68656347, 0.31343653],
       [0.81149577, 0.18850423],
       [0.55822776, 0.44177224],
       [0.73980406, 0.26019594],
       [0.77259715, 0.22740285],
       [0.80438113, 0.19561887],
       [0.60150532, 0.39849468],
       [0.62035484, 0.37964516],
       [0.51771124, 0.48228876],
       [0.79703083, 0.20296917],
       [0.61010457, 0.38989543],
       [0.71323664, 0.28676336],
       [0.60899888, 0.39100112],
       [0.8046112 , 0.1953888 ],
       [0.64571243, 0.35428757],
       [0.75765378, 0.24234622],
       [0.52660895, 0.47339105],
       [0.80433034, 0.19566966],
       [0.67775103, 0.32224897],
       [0.7717171 , 0.2282829 ],
       [0.72841889, 0.27158111],
       [0.43343584, 0.56656416],
       [0.68205378, 0.31794622],
       [0.75568776, 0.24431224],
       [0.70944136, 0.29055864],
       [0.6631489 , 0.3368511 ],
       [0.85570181, 0.14429819],
       [0.43819167, 0.56180833],
       [0.59747692, 0.40252308],
       [0.76803938, 0.23196062],
       [0.90600343, 0.09399657],
       [0.57013697, 0.42986303],
       [0.69565042, 0.30434958],
       [0.75641152, 0.24358848],
       [0.57203425, 0.42796575],
       [0.72792415, 0.27207585],
       [0.65388607, 0.34611393],
       [0.74794424, 0.25205576],
       [0.65796664, 0.34203336],
       [0.55680044, 0.44319956],
       [0.55901367, 0.44098633],
       [0.54079917, 0.45920083],
       [0.87422768, 0.12577232],
       [0.83191803, 0.16808197],
       [0.74270384, 0.25729616],
       [0.63183429, 0.36816571],
       [0.64861386, 0.35138614],
       [0.71808996, 0.28191004],
       [0.77503792, 0.22496208],
       [0.57825127, 0.42174873],
       [0.62738971, 0.37261029],
       [0.76965635, 0.23034365],
       [0.411873  , 0.588127  ],
       [0.78750778, 0.21249222],
       [0.70926482, 0.29073518],
       [0.68595995, 0.31404005],
       [0.76321719, 0.23678281],
       [0.85946778, 0.14053222],
       [0.8293186 , 0.1706814 ],
       [0.74766282, 0.25233718],
       [0.77019599, 0.22980401],
       [0.58752075, 0.41247925],
       [0.75750718, 0.24249282],
       [0.72290562, 0.27709438],
       [0.88778511, 0.11221489],
       [0.94287123, 0.05712877],
       [0.70017698, 0.29982302],
       [0.79874513, 0.20125487],
       [0.85441727, 0.14558273],
       [0.40020329, 0.59979671],
       [0.6947899 , 0.3052101 ],
       [0.93886148, 0.06113852],
       [0.63701213, 0.36298787],
       [0.68742831, 0.31257169],
       [0.38035596, 0.61964404],
       [0.68822532, 0.31177468],
       [0.74569941, 0.25430059],
       [0.63268156, 0.36731844],
       [0.67683064, 0.32316936],
       [0.52484927, 0.47515073],
       [0.69689224, 0.30310776],
       [0.66986846, 0.33013154],
       [0.94209217, 0.05790783],
       [0.89975028, 0.10024972],
       [0.65567779, 0.34432221],
       [0.70068647, 0.29931353],
       [0.75556966, 0.24443034],
       [0.73882878, 0.26117122],
       [0.7562024 , 0.2437976 ],
       [0.78769934, 0.21230066],
       [0.73191401, 0.26808599],
       [0.86519873, 0.13480127],
       [0.81610029, 0.18389971],
       [0.6673276 , 0.3326724 ],
       [0.62037005, 0.37962995],
       [0.86731201, 0.13268799],
       [0.60675401, 0.39324599],
       [0.89525168, 0.10474832],
       [0.7446742 , 0.2553258 ],
       [0.73117021, 0.26882979],
       [0.69438272, 0.30561728],
       [0.74557453, 0.25442547],
       [0.52197357, 0.47802643],
       [0.74593561, 0.25406439],
       [0.46173082, 0.53826918],
       [0.5462382 , 0.4537618 ],
       [0.91970376, 0.08029624],
       [0.77560746, 0.22439254],
       [0.66230547, 0.33769453],
       [0.63652901, 0.36347099],
       [0.81366234, 0.18633766],
       [0.86449028, 0.13550972],
       [0.67130526, 0.32869474],
       [0.7733298 , 0.2266702 ],
       [0.78120386, 0.21879614],
       [0.59351722, 0.40648278],
       [0.6613494 , 0.3386506 ],
       [0.54355426, 0.45644574],
       [0.85636205, 0.14363795],
       [0.52513213, 0.47486787]])

## Evaluation

In [72]:
from sklearn.metrics import classification_report

In [73]:
print(classification_report(y_test, yhat))

             precision    recall  f1-score   support

          0       0.72      0.97      0.83       226
          1       0.74      0.16      0.27       104

avg / total       0.72      0.72      0.65       330

In [74]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test, yhat)

0.7181818181818181

In [75]:
from sklearn.metrics import log_loss
log_loss(y_test, yhat_prob)

0.563381747014154